# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
  welcome: circleci/welcome-orb@0.4.1
commands:
  print_pipeline_id:
    steps:
      - run: echo ${CODER_NAME}

jobs:
  build:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run: npm i 
      - run: npm run lint
  test:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run: npm i 
      - run: npm run test
  analyze:
    docker:
      - image: circleci/node:13.8.0
    steps:
      - checkout
      - run: npm audit
      - run:
          name: on error
          command: echo "Hello Error"
          when: on_fail
    
  

workflows:
  welcome:
    jobs:
      - welcome/run
      - build
      - test:
          requires: 
            - build
      - analyze:
          requires: 
            - test
      